.thumbnail{
    width: 100%;
}
.video-title{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}
.channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video-infor{
    display: inline-block;
    width: 200px;
}
.profile-piture{
    width: 100%;
    border-radius: 40px;
}
.thumbnail-row{
    margin-bottom: 12px;
    position: relative;
}
.video-author, .video-stats{
    font-size: 12px;
    color: grey;
}
.video-author{
    margin-bottom: 6px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:16px ;
    row-gap:40px ;
}
.video-time{
    font-family: roboto, arial;
    font-size: 12px;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 8px;
}

@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}